#=================================================================#
# CONFIG_SITE.local.asyn.template — asyn TIRPC on Ubuntu 22.04+
# Author: K. Gofron (ORNL)
# Created: 2026
# SPDX-License-Identifier: MIT
#=================================================================#

TIRPC=YES
