#=================================================================#
# ADTimePix3_RELEASE.local.template — driver RELEASE override
# Author: K. Gofron (ORNL)
# Created: 2026
# SPDX-License-Identifier: MIT
#=================================================================#

ADTIMEPIX=$(AREA_DETECTOR)/@ADTIMEPix3_DIRNAME@
